<article>
  <ul>
    <li><p>Место: {{ post.location }}</p></li>
    <li><p>Дата: {{ post.date }}</p></li>
    <li> Категория: <a href="{% url 'categorys:category_posts' post.category %}">{{ post.category }}</a></li>
    {% with request.resolver_match.view_name as view_name %}
      {% if view_name  == 'blog_list:index' %}
        <p>{{ post.text|truncatewords:10 }} </p>           
        <p><a href="{% url 'posts:post_detail' post.id %}">Читать полный текст</a></p>
      {% endif %}
      {% if view_name  == 'posts:post_detail' %}
      <p style="max-width: 500px;">
        {{ post.text|linebreaks }}
     </p>
    {% endif %}
  </ul>
    {% endwith %}
</article> 
 