<article>
    {% with post_detail as post%}
    <ul>
      <li><p>Место: {{ post.location }}</p></li>
      <li><p>Дата: {{ post.date }}</p></li>
      <li> Категория:<a href="{% url 'category:category_posts' post.category %}">{{ post.category }}</a></li>
    </ul>
    <p style="max-width: 500px;">
      {{ post.text|linebreaks }}
    </p>
    {% endwith %}
    {% with related_articles as posts%}
      <ul>
        {% for post in posts %}
          <li>
            <p>{{ post.location }}</p>
            <p>{{ post.date }}</p> 
            <p><a href="{% url 'category:category_posts' post.category %}">{{ post.category }}</a></p>
            <p>{{ post.text|truncatewords:10 }} </p>             
            <a href="{% url 'posts:post_detail' post.id %}">Читать полный текст</a>
          {% if not forloop.last %}
            <hr>
          {% endif %}
        {% endfor %}
      </ul>
    {% endwith %}
</article> 
 